---
export interface Props {
    theme?: {
      primary?: string;
      secondary?: string;
      link?: string;
      hover?: string;
    };
}
const { theme } = Astro.props;

let headerClasses = "mx-auto py-4 flex z-10 relative max-w-7xl"
if (theme && theme.secondary) {
  headerClasses = headerClasses + ' text-[' + theme.secondary + ']'
}
const linkClasses = theme && theme.link ? 'text-[' + theme.link + ']' : 'text-amber-amber12';
---
  <header class={headerClasses}>
    <h1 class="flex-grow ml-4"><a class={linkClasses} href="/">Frank Stallone</a></h1>
    <ul class="list-none flex flex-row-reverse space-x-4 space-x-reverse max-w-7xl mr-4">
      <li><a class={linkClasses} href="https://changelog.stallone.dev">Changelog</a></li>
      <li><a class={linkClasses} href="https://linkedin.com/in/frankstallone">LinkedIn</a></li>
      <li><a class={linkClasses} href="https://twitter.com/frankstallone">Twitter</a></li>
    </ul>
  </header>