---
const { variant = "default" } = Astro.props;

import { Variant } from "../../utils/variants.ts"

export interface Props {
  variant?: Variant;
}

export interface VariantAttributes {
  primary: string;
  link: string;
  hover: string;
  background?: string;
}

const VARIANT_MAPS: Record<Variant, VariantAttributes> = {
    default: {
      primary: "text-amber-amber12", 
      link: "text-amber-amber12", 
      hover: "hover:text-amber-amber12", 
      background: "bg-amber-amber4"
    },
    btc: {
      primary: "text-btc-500",
      link: "text-btc-200",
      hover: "hover:text-btc-100",
    },
    roll: {
      primary: "text-btc-500",
      link: "text-btc-1000",
      hover: "hover:text-btc-700",
    },
}

const linkClasses = `${VARIANT_MAPS[variant].link} ${VARIANT_MAPS[variant].hover}`;
const headerClasses = `${VARIANT_MAPS[variant].background} py-4 z-10 relative`;
---
  <header class={headerClasses}>
    <div class="max-w-7xl mx-auto flex">
      <h1 class="flex-grow ml-4"><a class={linkClasses} href="/">Frank Stallone</a></h1>
      <ul class="list-none flex flex-row-reverse space-x-4 space-x-reverse max-w-7xl mr-4">
        <li><a class={linkClasses} href="https://changelog.stallone.dev">Changelog</a></li>
        <li><a class={linkClasses} href="https://linkedin.com/in/frankstallone">LinkedIn</a></li>
        <li><a class={linkClasses} href="https://twitter.com/frankstallone">Twitter</a></li>
      </ul>
    </div>
  </header>