---
export interface Props {
  variant?: Variant;
}
import { Variant, VARIANT_MAPS } from "../../utils/variants"
const { variant = "default" } = Astro.props;

const linkClasses = `${VARIANT_MAPS[variant].link} ${VARIANT_MAPS[variant].hover} font-bold text-xs tracking-wider xs:tracking-widest hover uppercase`;
---
  <header class="main-header -translate-y-9 opacity-0 mx-auto max-w-7xl py-4 flex z-10 relative" id="main-navigation">
    <a href="#main-content" class={`sr-only focus:not-sr-only focus:outline-none focus:absolute rounded font-bold text-xs tracking-wider uppercase ring-offset-4 px-2 py-1 bg-white ring-2 ${VARIANT_MAPS[variant].link} text-bronze-bronze12 absolute top-5 left-4 z-10`}>Skip to main content</a>
    <h1 class="grow ml-4"><a class={linkClasses} href="/"><span class="hidden xs:inline-block">F<span class="font-variants-01">ra</span>nk</span> St<span class="font-variants-01">a</span>llone</a></h1>
    <ul class="list-none flex space-x-2 sm:space-x-4 mr-4" role="list" id="main-navigation">
      <li><a class={linkClasses} href="https://changelog.stallone.dev">Ch<span class="font-variants-01">a</span>ngelog</a></li>
      <li><a class={linkClasses} href="/posts/">Blog</a></li>
      <li><a class={linkClasses} href="https://linkedin.com/in/frankstallone">LinkedIn</a></li>
      <li><a class={linkClasses} href="https://twitter.com/frankstallone">Twitte<span class="font-variants-01">r</span></a></li>
      <li><a class={linkClasses} rel="me" href="https://mastodon.social/@frankstallone">M<span class="font-variants-01">a</span>stodon</a></li>
    </ul>
  </header>