---
const { variant = "default" } = Astro.props;

import { Variant } from "../../utils/variants.ts"

export interface Props {
  variant?: Variant;
}

export interface VariantAttributes {
  primary: string;
  link: string;
  hover: string;
}

const VARIANT_MAPS: Record<Variant, VariantAttributes> = {
    default: {
      primary: "text-amber-amber12", 
      link: "text-amber-amber12", 
      hover: "hover:text-red-red11", 
    },
    btc: {
      primary: "text-btc-500",
      link: "text-btc-200",
      hover: "hover:text-btc-100",
    },
    roll: {
      primary: "text-btc-500",
      link: "text-btc-1000",
      hover: "hover:text-btc-700",
    },
}

const linkClasses = `${VARIANT_MAPS[variant].link} ${VARIANT_MAPS[variant].hover} font-bold text-xs tracking-wider xs:tracking-widest`;
---
  <header class="mx-auto py-4 flex z-10 relative">
    <h1 class="flex-grow ml-4"><a class={linkClasses} href="/"><span class="hidden xs:inline-block">FRANK</span> STALLONE</a></h1>
    <ul class="list-none flex flex-row-reverse space-x-4 space-x-reverse mr-4">
      <li><a class={linkClasses} href="https://changelog.stallone.dev">CHANGELOG</a></li>
      <li><a class={linkClasses} href="https://linkedin.com/in/frankstallone">LINKEDIN</a></li>
      <li><a class={linkClasses} href="https://twitter.com/frankstallone">TWITTER</a></li>
    </ul>
  </header>