---
export interface Props {
  variant?: Variant;
}
import { Variant, VARIANT_MAPS } from "../../utils/variants.ts"
const { variant = "default" } = Astro.props;


const linkClasses = `${VARIANT_MAPS[variant].link} ${VARIANT_MAPS[variant].hover} font-bold text-xs tracking-wider xs:tracking-widest hover`;
---
  <header class="main-header -translate-y-9 opacity-0 mx-auto max-w-7xl py-4 flex z-10 relative">
    <h1 class="flex-grow ml-4"><a class={linkClasses} href="/"><span class="hidden xs:inline-block">F<span class="font-variants-01">RA</span>NK</span> ST<span class="font-variants-01">A</span>LLONE</a></h1>
    <ul class="list-none flex flex-row-reverse space-x-4 space-x-reverse mr-4">
      <li><a class={linkClasses} href="https://changelog.stallone.dev">CH<span class="font-variants-01">A</span>NGELOG</a></li>
      <li><a class={linkClasses} href="https://linkedin.com/in/frankstallone">LINKEDIN</a></li>
      <li><a class={linkClasses} href="https://twitter.com/frankstallone">TWITTE<span class="font-variants-01">R</span></a></li>
    </ul>
  </header>