---
export interface Props {
    title: string;
    variant: Variant;
}
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.astro';
import Header from '../components/Header/index.astro';
import { Variant, VARIANT_MAPS } from '../utils/variants.ts'
const { title, variant = 'default' } = Astro.props;

const textColor = VARIANT_MAPS[variant].primary;
---
<html lang="en" class="overflow-x-hidden">
  <head>
    <MainHead title={title} variant={variant} />
  </head>
  <body class="min-h-screen overflow-x-hidden relative">
    <Header variant={variant} />
    <!-- slot: your page content will be injected here. -->
    <article class={`px-4 mb-12 ${textColor} max-w-7xl mx-auto leading-relaxed`}>
      <slot />
    </article>
    <Footer variant={variant} />
    <script type="module" src={Astro.resolve("../scripts/navigation.js")} />
  </body>
</html>