---
export interface Props {
  content: {
    title: string;
    desc: string;
    date:string;
    variant?: Variant;
  }
}
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.astro';
import Header from '../components/Header/index.astro';
import { Variant } from '../utils/variants.ts'
const { content } = Astro.props;

const dateTime = new Date(content.date).toISOString();
const humanReadableDate = new Date(content.date).toLocaleDateString(undefined, { year: "numeric", month: "long", day: "numeric" }).toUpperCase();
---
<html lang="en" class="overflow-x-hidden">
  <head>
    <MainHead title={content.title} desc={content.desc} variant={content.variant} />
  </head>
  <body class="min-h-screen overflow-x-hidden relative">
    <Header variant={content.variant} />
    <article class="post px-4 mb-12 text-bronze-bronze12 max-w-3xl mx-auto leading-relaxed lg:text-lg" role="main article" id="main-content">
      <h1>{content.title}</h1>
      <p class="text-center">
        <time datetime={dateTime} class="font-extralight text-golden-gold9">{humanReadableDate}</time>
      </p>
      <slot />
    </article>
    <Footer variant={content.variant} />
    <script type="module" src={Astro.resolve("../scripts/navigation.ts")} />
  </body>
</html>