---
export interface Props {
  content: {
    title: string;
    desc: string;
    date: string;
  };
}
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
const { content } = Astro.props;

const dateTime = new Date(content.date).toISOString();
const humanReadableDate = new Date(content.date)
  .toLocaleDateString(undefined, {
    year: "numeric",
    month: "long",
    day: "numeric",
  })
  .toUpperCase();
---

<html lang="en">
  <head>
    <Head title={content.title} desc={content.desc} />
  </head>
  <body>
    <div class="wrapper top-pad">
      <Header />
    </div>
    <article class="wrapper flow region prose" role="main" id="main-content">
      <h1>{content.title}</h1>
      <p class="text-center">
        <time datetime={dateTime} class="font-extralight text-golden-gold9"
          >{humanReadableDate}</time
        >
      </p>
      <slot />
    </article>
  </body>
</html>
